body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* garant que o fundo cubra toda a altura da pagina */
    background: linear-gradient(to right, #ffcccc, #ADD8E6); /* gradiente de vermelho vinho claro para azul bebe */
}

.bg {
    padding: 20px;
    color: #fff; /* cor do texto em branco para contraste */
}

.nav-link {
    display: inline-block;
    padding: 5px 10px; 
    margin: 5px;
    background-color: #ADD8E6; /* Azul bebê */
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
}

.nav-link:hover {
    background-color: #87CEEB; /* azul mais escuro ao passar o mouse */
}

.img-container {
    text-align: center;
}

.img-container img {
    display: block; /* broco */
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 10px; /* deixa as borda redondinha  */
    width: 50%;
}
.img-container2 {
    text-align: center;
}
.img-container2 img {
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 10px; 
    width: 24%;
    /* nao usar o display block se nao fica um embaixo do outro*/
}

.pepepe {
    text-align: center;
    color: black;
    width: 60%;
    margin: 0 auto;
}